<a href="https://colab.research.google.com/github/noelmt7/LAB-3/blob/main/23485338_LAB3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [42]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.preprocessing import LabelEncoder
import warnings
warnings.filterwarnings('ignore', category = DeprecationWarning)

In [43]:
df = pd.read_csv('/content/Market_Basket_Optimisation.csv')
df.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
0,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,low fat yogurt,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
df.shape

(7500, 20)

In [45]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 20 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   shrimp             7500 non-null   object
 1   almonds            5746 non-null   object
 2   avocado            4388 non-null   object
 3   vegetables mix     3344 non-null   object
 4   green grapes       2528 non-null   object
 5   whole weat flour   1863 non-null   object
 6   yams               1368 non-null   object
 7   cottage cheese     980 non-null    object
 8   energy drink       653 non-null    object
 9   tomato juice       394 non-null    object
 10  low fat yogurt     255 non-null    object
 11  green tea          153 non-null    object
 12  honey              86 non-null     object
 13  salad              46 non-null     object
 14  mineral water      24 non-null     object
 15  salmon             7 non-null      object
 16  antioxydant juice  3 non-null      object
 17  frozen smoothie    3 non-null      object
 18  spinach            2 non-null      object
 19  olive oil          0 non-null      float64
dtypes: float64(1), object(19)
memory usage: 1.1+ MB

In [46]:
df.isna().sum()
df = df.fillna(0)

In [47]:
df = df.drop(columns = ['olive oil'], axis =1 )
df.head()

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach
0,burgers,meatballs,eggs,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
1,chutney,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,turkey,avocado,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,mineral water,milk,energy bar,whole wheat rice,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,low fat yogurt,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [48]:
transactions = []
for i in range(0,df.shape[0]):
    transactions.append([str(df.values[i,j])for j in range(0,df.shape[1])])

In [61]:
transactions = []

for i in range(0, df.shape[0]):
    transaction = [str(df.values[i, j]) for j in range(0, df.shape[1]) if str(df.values[i, j]) != 'nan']
    transactions.append(transaction)

In [50]:
unique_items_set = set()
for transaction in transactions:
    unique_items_set.update(item for item in transaction)
unique_items_list = list(unique_items_set)

In [51]:
len(unique_items_list)

121

In [52]:
binary_matrix = pd.DataFrame(columns=unique_items_list)

# Populate the DataFrame with binary values using pandas.concat
data = []
for transaction in transactions:
    row = [1 if item in transaction else 0 for item in unique_items_list]
    data.append(row)

binary_matrix = pd.concat([binary_matrix, pd.DataFrame(data, columns=unique_items_list)], ignore_index=True)

print(binary_matrix)

     pasta  0 gums mineral water bacon pickles cake barbecue sauce chili  \
0        0  1    0             0     0       0    0              0     0
1        0  1    0             0     0       0    0              0     0
2        0  1    0             0     0       0    0              0     0
3        0  1    0             1     0       0    0              0     0
4        0  1    0             0     0       0    0              0     0
...    ... ..  ...           ...   ...     ...  ...            ...   ...
7495     0  1    0             0     0       0    0              0     0
7496     0  1    0             0     0       0    0              0     0
7497     0  1    0             0     0       0    0              0     0
7498     0  1    0             0     0       0    0              0     0
7499     0  1    0             0     0       0    0              0     0

     chutney  ... frozen smoothie cereals eggs fresh tuna mint  \
0          0  ...               0       0    1          0    0
1          1  ...               0       0    0          0    0
2          0  ...               0       0    0          0    0
3          0  ...               0       0    0          0    0
4          0  ...               0       0    0          0    0
...      ...  ...             ...     ...  ...        ...  ...
7495       0  ...               0       0    0          0    0
7496       0  ...               0       0    1          0    0
7497       0  ...               0       0    0          0    0
7498       0  ...               0       0    0          0    0
7499       0  ...               1       0    1          0    0

     whole wheat rice extra dark chocolate fresh bread whole wheat pasta  \
0                   0                    0           0                 0
1                   0                    0           0                 0
2                   0                    0           0                 0
3                   1                    0           0                 0
4                   0                    0           0                 0
...               ...                  ...         ...               ...
7495                0                    0           1                 0
7496                0                    0           0                 0
7497                0                    0           0                 0
7498                0                    0           0                 0
7499                0                    0           0                 0

     energy drink
0               0
1               0
2               0
3               0
4               0
...           ...
7495            0
7496            0
7497            0
7498            0
7499            0

[7500 rows x 121 columns]

In [53]:
top10=binary_matrix.sum().sort_values(ascending=False)[:10]
top10

0                    7498
mineral water        1787
eggs                 1348
spaghetti            1306
french fries         1282
chocolate            1229
green tea             990
milk                  972
ground beef           737
frozen vegetables     715
dtype: object

In [54]:
categorical_columns = df.select_dtypes(include=['object']).columns.tolist()
categorical_columns

['shrimp',
 'almonds',
 'avocado',
 'vegetables mix',
 'green grapes',
 'whole weat flour',
 'yams',
 'cottage cheese',
 'energy drink',
 'tomato juice',
 'low fat yogurt',
 'green tea',
 'honey',
 'salad',
 'mineral water',
 'salmon',
 'antioxydant juice',
 'frozen smoothie',
 'spinach']

In [55]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

for column in categorical_columns:
    # Convert all values to strings
    df[column] = df[column].astype(str)

    # Fit and transform the LabelEncoder
    df[column] = le.fit_transform(df[column])

# Now your categorical columns are encoded as integers
df

,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach
0,14,68,35,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
1,26,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
2,107,4,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
3,71,70,36,111,50,0,0,1,0,0,0,0,0,0,0,0,0,0,0
4,64,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7495,15,63,43,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
7496,14,48,35,41,61,50,0,1,0,0,0,0,0,0,0,0,0,0,0
7497,22,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
7498,39,53,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0
7499,36,47,114,62,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7500 entries, 0 to 7499
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   shrimp             7500 non-null   int64
 1   almonds            7500 non-null   int64
 2   avocado            7500 non-null   int64
 3   vegetables mix     7500 non-null   int64
 4   green grapes       7500 non-null   int64
 5   whole weat flour   7500 non-null   int64
 6   yams               7500 non-null   int64
 7   cottage cheese     7500 non-null   int64
 8   energy drink       7500 non-null   int64
 9   tomato juice       7500 non-null   int64
 10  low fat yogurt     7500 non-null   int64
 11  green tea          7500 non-null   int64
 12  honey              7500 non-null   int64
 13  salad              7500 non-null   int64
 14  mineral water      7500 non-null   int64
 15  salmon             7500 non-null   int64
 16  antioxydant juice  7500 non-null   int64
 17  frozen smoothie    7500 non-null   int64
 18  spinach            7500 non-null   int64
dtypes: int64(19)
memory usage: 1.1 MB

In [57]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules


# Convert the data to a binary matrix (0s and 1s) indicating whether each item was bought
basket_sets = df.applymap(lambda x: 1 if x > 0 else 0)

# Find frequent itemsets using Apriori
frequent_itemsets = apriori(basket_sets, min_support=0.06, use_colnames=True)

# Generate association rules
association_rules_df = association_rules(frequent_itemsets, metric="lift", min_threshold=1.0)

# Sort rules by lift
association_rules_df = association_rules_df.sort_values(by=['lift'], ascending=False)

# Print the top association rules
association_rules_df

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
18367,(energy drink),"(vegetables mix, almonds, cottage cheese, yams...",0.087067,0.182133,0.087067,1.000000,5.490483,0.071209,inf,0.895867
14464,"(cottage cheese, yams, green grapes, shrimp, w...","(vegetables mix, energy drink)",0.182133,0.087067,0.087067,0.478038,5.490483,0.071209,1.749042,1.000000
14545,"(vegetables mix, energy drink)","(cottage cheese, yams, green grapes, shrimp, w...",0.087067,0.182133,0.087067,1.000000,5.490483,0.071209,inf,0.895867
14538,"(green grapes, whole weat flour, energy drink)","(vegetables mix, shrimp, yams, cottage cheese)",0.087067,0.182133,0.087067,1.000000,5.490483,0.071209,inf,0.895867
14521,"(cottage cheese, shrimp, yams)","(vegetables mix, energy drink, whole weat flou...",0.182133,0.087067,0.087067,0.478038,5.490483,0.071209,1.749042,1.000000
...,...,...,...,...,...,...,...,...,...,...
3289,"(avocado, vegetables mix, green grapes)","(cottage cheese, shrimp)",0.337067,0.998400,0.336533,0.998418,1.000018,0.000006,1.011200,0.000027
117,"(cottage cheese, shrimp)",(avocado),0.998400,0.585067,0.584133,0.585069,1.000005,0.000003,1.000007,0.002967
118,(avocado),"(cottage cheese, shrimp)",0.585067,0.998400,0.584133,0.998405,1.000005,0.000003,1.002971,0.000011
574,"(cottage cheese, shrimp)","(avocado, almonds)",0.998400,0.585067,0.584133,0.585069,1.000005,0.000003,1.000007,0.002967
573,"(avocado, almonds)","(cottage cheese, shrimp)",0.585067,0.998400,0.584133,0.998405,1.000005,0.000003,1.002971,0.000011

In [58]:
association_rules_df[(association_rules_df['confidence']>0.4) & (association_rules_df['lift']>1)]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
18367,(energy drink),"(vegetables mix, almonds, cottage cheese, yams...",0.087067,0.182133,0.087067,1.000000,5.490483,0.071209,inf,0.895867
14464,"(cottage cheese, yams, green grapes, shrimp, w...","(vegetables mix, energy drink)",0.182133,0.087067,0.087067,0.478038,5.490483,0.071209,1.749042,1.000000
14545,"(vegetables mix, energy drink)","(cottage cheese, yams, green grapes, shrimp, w...",0.087067,0.182133,0.087067,1.000000,5.490483,0.071209,inf,0.895867
14538,"(green grapes, whole weat flour, energy drink)","(vegetables mix, shrimp, yams, cottage cheese)",0.087067,0.182133,0.087067,1.000000,5.490483,0.071209,inf,0.895867
14521,"(cottage cheese, shrimp, yams)","(vegetables mix, energy drink, whole weat flou...",0.182133,0.087067,0.087067,0.478038,5.490483,0.071209,1.749042,1.000000
...,...,...,...,...,...,...,...,...,...,...
3289,"(avocado, vegetables mix, green grapes)","(cottage cheese, shrimp)",0.337067,0.998400,0.336533,0.998418,1.000018,0.000006,1.011200,0.000027
117,"(cottage cheese, shrimp)",(avocado),0.998400,0.585067,0.584133,0.585069,1.000005,0.000003,1.000007,0.002967
118,(avocado),"(cottage cheese, shrimp)",0.585067,0.998400,0.584133,0.998405,1.000005,0.000003,1.002971,0.000011
574,"(cottage cheese, shrimp)","(avocado, almonds)",0.998400,0.585067,0.584133,0.585069,1.000005,0.000003,1.000007,0.002967
573,"(avocado, almonds)","(cottage cheese, shrimp)",0.585067,0.998400,0.584133,0.998405,1.000005,0.000003,1.002971,0.000011

In [59]:
worst_choice=association_rules_df.sort_values(by='lift',ascending=True)
print('Least Bought together')
worst_choice[['antecedents','consequents','lift']]

Least Bought together

,antecedents,consequents,lift
573,"(avocado, almonds)","(cottage cheese, shrimp)",1.000005
117,"(cottage cheese, shrimp)",(avocado),1.000005
574,"(cottage cheese, shrimp)","(avocado, almonds)",1.000005
118,(avocado),"(cottage cheese, shrimp)",1.000005
3289,"(avocado, vegetables mix, green grapes)","(cottage cheese, shrimp)",1.000018
...,...,...,...
13458,"(cottage cheese, almonds, yams, shrimp, whole ...","(vegetables mix, energy drink)",5.490483
13453,"(vegetables mix, cottage cheese, yams, shrimp,...","(almonds, energy drink)",5.490483
12892,"(avocado, almonds, energy drink)","(cottage cheese, shrimp, whole weat flour, yams)",5.490483
12923,"(avocado, energy drink)","(cottage cheese, almonds, yams, shrimp, whole ...",5.490483
18367,(energy drink),"(vegetables mix, almonds, cottage cheese, yams...",5.490483

In [60]:
best_choice = association_rules_df.sort_values(by=['confidence', 'lift'], ascending=[False, False])
print('Best choice to buy items together')
best_choice[['antecedents', 'consequents', 'confidence','lift']]

Best choice to buy items together

,antecedents,consequents,confidence,lift
18367,(energy drink),"(vegetables mix, almonds, cottage cheese, yams...",1.000000,5.490483
14545,"(vegetables mix, energy drink)","(cottage cheese, yams, green grapes, shrimp, w...",1.000000,5.490483
14538,"(green grapes, whole weat flour, energy drink)","(vegetables mix, shrimp, yams, cottage cheese)",1.000000,5.490483
14519,"(vegetables mix, whole weat flour, energy drink)","(cottage cheese, shrimp, yams, green grapes)",1.000000,5.490483
14516,"(vegetables mix, energy drink, green grapes)","(cottage cheese, shrimp, whole weat flour, yams)",1.000000,5.490483
...,...,...,...,...
4181,(cottage cheese),"(green grapes, shrimp, whole weat flour, energ...",0.087078,1.000133
4711,(cottage cheese),"(avocado, green grapes, almonds, energy drink)",0.087078,1.000133
7114,(cottage cheese),"(almonds, yams, avocado, shrimp, energy drink)",0.087078,1.000133
4094,(cottage cheese),"(vegetables mix, shrimp, yams, energy drink)",0.087078,1.000133
4537,(cottage cheese),"(avocado, vegetables mix, almonds, energy drink)",0.087078,1.000133